<!-- Home -->
<div id="home" class="hero-area">
  <!-- Backgound Image -->
  <div
  class="bg-image bg-parallax overlay"
  style="background-image: url(<%= asset_path('home-background.jpg') %>)"
  ></div>
  <!-- /Backgound Image -->

  <div class="home-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1 class="white-text">Are you looking for a proper work-life balance?</h1>
          <p class="lead white-text">
            By living in books, eloquence comes from the right, and they do not abhor it brilliantly.
          </p>
          <a class="main-button icon-button" href="#">Get Started!</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Home -->

<!-- About -->
<div id="about" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-6">
        <div class="section-header">
          <h1>Welcome to Webimpact</h1>
          <p class="text-dark">
            By living in books, eloquence comes from the right, and they do not abhor it brilliantly.
          </p>
        </div>

        <!-- feature -->
        <div class="feature">
          <i class="feature-icon fa fa-flask"></i>
          <div class="feature-content">
            <h4>Online Courses</h4>
            <p class="mb-5 fs-4 text-dark">Explore our comprehensive courses in <span><b>HTML, CSS</b></span> and more.</p>
          </div>
        </div>
        <!-- /feature -->

        <!-- feature -->
        <div class="feature">
          <i class="feature-icon fa fa-users"></i>
          <div class="feature-content">
            <h4>Expert Teachers</h4>
            <p class="mb-5 fs-4 text-dark">
              The others would not have been mine, as the Epicurean is wont to do. And these are their names..
            </p>
          </div>
        </div>
        <!-- /feature -->

        <!-- feature -->
        <div class="feature">
          <i class="feature-icon fa fa-comments"></i>
          <div class="feature-content">
            <h4>Community</h4>
            <p class="mb-5 fs-4 text-dark">
              The others would not have been mine, as the Epicurean is wont to do. And these are their names.
            </p>
          </div>
        </div>
        <!-- /feature -->
      </div>

      <div class="col-md-6">
        <div class="about-img">
          <%= image_tag 'about' %>
        </div>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>
<!-- /About -->

<!-- Courses -->
<div id="courses" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="section-header text-center">
        <h2>Explore Courses</h2>
        <h3 class="mb-5 fs-2">The Complete Web Development course <span style="color: #481B5F;"><b>HTML, CSS, JavaScript,</b></span> and more.</h3>
      </div>
    </div>
    <!-- /row -->

    <!-- courses -->
    <div id="courses-wrapper mb-5">
      <!-- row -->
      <div class="row row-cols-1 row-cols-md-3 text-center g-3">
        <!-- single course -->
        <div class="col-md-3 col-sm-6 col-xs-6 ">
          <div class="course" style=" border: 1px solid #CACFD6; border-radius:10px 10px;  box-shadow: 3px 3px 3px 3px; padding-bottom: 20px;">
            <a href="#" class="course-img">
              <%= image_tag 'course01' %>
              <i class="course-link-icon fa fa-link"></i>
            </a>
            <a class="course-title" href="#"
            >Introduction to HTML</a
            >
            <%= link_to 'Enroll Now', syllabuses_path , class:"main-button icon-button" %>
          </div>
        </div>
        <!-- /single course -->

        <!-- single course -->
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="course" style=" border: 1px solid #CACFD6; border-radius:10px 10px;  box-shadow: 3px 3px 3px 3px; padding-bottom: 20px;">
            <a href="#" class="course-img">
              <%= image_tag 'course02' %>
              <i class="course-link-icon fa fa-link"></i>
            </a>
            <a class="course-title" href="#">Introduction to CSS </a>
            <%= link_to 'Enroll Now', syllabuses_path , class:"main-button icon-button" %>
          </div>
        </div>
        <!-- /single course -->

        <!-- single course -->
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="course" style=" border: 1px solid #CACFD6; border-radius:10px 10px;  box-shadow: 3px 3px 3px 3px; padding-bottom: 20px;">
            <a href="#" class="course-img">
              <%= image_tag 'course03' %>
              <i class="course-link-icon fa fa-link"></i>
            </a>
            <a class="course-title" href="#">Bootstrap</a>
             <%= link_to 'Enroll Now', syllabuses_path , class:"main-button icon-button" %>
          </div>
        </div>
        <!-- /single course -->

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="course" style=" border: 1px solid #CACFD6; border-radius:10px 10px;  box-shadow: 3px 3px 3px 3px; padding-bottom: 20px;">
            <a href="#" class="course-img">
              <%= image_tag 'course04' %>
              <i class="course-link-icon fa fa-link"></i>
            </a>
            <a class="course-title" href="#">Javascript</a>
            <%= link_to 'Enroll Now', syllabuses_path , class:"main-button icon-button" %>
          </div>
        </div>
        <!-- /single course -->
      </div><hr>
  <!-- container -->
  <div class="row">
    <div class="section-header text-center">
      <h2>Learn with Fun Course</h2>
      <h3 class="mb-5 fs-2">This Course is especially for for children and more.</h3>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 mx-auto text-center">
      <div class="course" style=" border: 1px solid #CACFD6; border-radius:10px 10px;  box-shadow: 3px 3px 3px 3px; padding-bottom: 20px;">
        <a href="#" class="course-img">
          <%= image_tag 'course03' %>
          <i class="course-link-icon fa fa-link"></i>
        </a>
        <a class="course-title" href="#">Fun activity</a>
        <%= link_to 'Play', activities_path, class:"main-button icon-button" %>
      </div>
    </div>
  </div>
<!-- /Courses -->
  
</div>
<div id="why-us" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="section-header text-center">
        <h2>Why <span style="color: #481B5F">Web_Impact</span></h2>
        <p class="text-dark fs-3">
          By living in books, eloquence comes from the right, and they do not abhor it brilliantly.
        </p>
        <%= image_tag 'web', style:"height:70%; width:70%;" %>

      </div>

      <!-- feature -->
      <div class="col-md-4">
        <div class="feature">
          <i class="feature-icon fa fa-flask"></i>
          <div class="feature-content">
            <h4>Online Courses</h4>
            <p>
              The others would not have been mine, as the Epicurean is wont to do. And these are their names.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature">
          <i class="feature-icon fa fa-users"></i>
          <div class="feature-content">
            <h4>Expert Teachers</h4>
            <p>
              The others would not have been mine, as the Epicurean is wont to do. And these are their names.
            </p>
          </div>
        </div>
      </div>
      <!-- /feature -->

      <!-- feature -->
      <div class="col-md-4">
        <div class="feature">
          <i class="feature-icon fa fa-comments"></i>
          <div class="feature-content">
            <h4>Community</h4>
            <p>
              The others would not have been mine, as the Epicurean is wont to do. And these are their names.
            </p>
          </div>
        </div>
      </div>
      <!-- /feature -->
    </div>
    <!-- /row -->

    <hr class="section-hr" />
  </div>
  <!-- /container -->
</div>
<!-- /Why us -->

<!-- Contact CTA -->
<div id="contact-cta" class="section">
  <!-- Backgound Image -->

  <div
  class="bg-image bg-parallax overlay"
  style="background-image: url(<%= asset_path('cta2-background.jpg') %>)"
  ></div>

  <!-- Backgound Image -->

  <!-- container -->
  <div class="container card bg-transparent text-light " style="border: none;">
    <!-- row -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2 ">
        <h2 class="text-white">Contact Us</h2>
        <p>
          By living in books, eloquence comes from the right, and they do not abhor it brilliantly.
        </p>
        <%= link_to 'Contact Us Now', contact_index_path, class: 'main-button icon-button' %>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
