<!-- Home -->
<div id="home" class="hero-area">
  <!-- Backgound Image -->
  <div
  class="bg-image bg-parallax overlay"
  style="background-image: url(<%= asset_path('home-background.jpg') %>)"
  ></div>
  <!-- /Backgound Image -->

  <div class="home-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1 class="white-text">Edusite Free Online Training Courses</h1>
          <p class="lead white-text">
            By living in books, eloquence comes from the right, and they do not abhor it brilliantly.
          </p>
          <a class="main-button icon-button" href="#">Get Started!</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Home -->

<!-- About -->
<div id="about" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-6">
        <div class="section-header">
          <h2>Welcome to Edusite</h2>
          <p class="lead">
            By living in books, eloquence comes from the right, and they do not abhor it brilliantly.
          </p>
        </div>

        <!-- feature -->
        <div class="feature">
          <i class="feature-icon fa fa-flask"></i>
          <div class="feature-content">
            <h4>Online Courses</h4>
            <p>
              The others would not have been mine, as the Epicurean is wont to do. And these are their names.
            </p>
          </div>
        </div>
        <!-- /feature -->

        <!-- feature -->
        <div class="feature">
          <i class="feature-icon fa fa-users"></i>
          <div class="feature-content">
            <h4>Expert Teachers</h4>
            <p>
              The others would not have been mine, as the Epicurean is wont to do. And these are their names..
            </p>
          </div>
        </div>
        <!-- /feature -->

        <!-- feature -->
        <div class="feature">
          <i class="feature-icon fa fa-comments"></i>
          <div class="feature-content">
            <h4>Community</h4>
            <p>
              The others would not have been mine, as the Epicurean is wont to do. And these are their names.
            </p>
          </div>
        </div>
        <!-- /feature -->
      </div>

      <div class="col-md-6">
        <div class="about-img">
          <%= image_tag 'about' %>
        </div>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>
<!-- /About -->

<!-- Courses -->
<div id="courses" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="section-header text-center">
        <h2>Explore Courses</h2>
        <p class="lead">
          By living in books, eloquence comes from the right, and they do not abhor it brilliantly.
        </p>
      </div>
    </div>
    <!-- /row -->

    <!-- courses -->
    <div id="courses-wrapper">
      <!-- row -->
      <div class="row">
        <!-- single course -->
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="course">
            <a href="#" class="course-img">
              <%= image_tag 'course01' %>
              <i class="course-link-icon fa fa-link"></i>
            </a>
            <a class="course-title" href="#"
            >Beginner to Pro in Excel: Financial Modeling and Valuation</a
            >
            <div class="course-details">
              <span class="course-category">Business</span>
              <span class="course-price course-free">Free</span>
            </div>
          </div>
        </div>
        <!-- /single course -->

        <!-- single course -->
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="course">
            <a href="#" class="course-img">
              <%= image_tag 'course02' %>
              
              <i class="course-link-icon fa fa-link"></i>
            </a>
            <a class="course-title" href="#">Introduction to CSS </a>
            <div class="course-details">
              <span class="course-category">Web Design</span>
              <span class="course-price course-premium">Premium</span>
            </div>
          </div>
        </div>
        <!-- /single course -->

        <!-- single course -->
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="course">
            <a href="#" class="course-img">
              <%= image_tag 'course03' %>
              <i class="course-link-icon fa fa-link"></i>
            </a>
            <a class="course-title" href="#"
            >The Ultimate Drawing Course | From Beginner To Advanced</a
            >
            <div class="course-details">
              <span class="course-category">Drawing</span>
              <span class="course-price course-premium">Premium</span>
            </div>
          </div>
        </div>
        <!-- /single course -->

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="course">
            <a href="#" class="course-img">
              <%= image_tag 'course04' %>
              <i class="course-link-icon fa fa-link"></i>
            </a>
            <a class="course-title" href="#"
            >The Complete Web Development Course</a
            >
            <div class="course-details">
              <span class="course-category">Web Development</span>
              <span class="course-price course-free">Free</span>
            </div>
          </div>
        </div>
        <!-- /single course -->
      </div>
      <!-- /row -->

      <!-- row -->
      <div class="row">
        <!-- single course -->
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="course">
            <a href="#" class="course-img">
              <%= image_tag 'course05' %>
              <i class="course-link-icon fa fa-link"></i>
            </a>
            <a class="course-title" href="#"
            >PHP Tips, Tricks, and Techniques</a
            >
            <div class="course-details">
              <span class="course-category">Web Development</span>
              <span class="course-price course-free">Free</span>
            </div>
          </div>
        </div>
        <!-- /single course -->

        <!-- single course -->
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="course">
            <a href="#" class="course-img">
              <%= image_tag 'course06' %>
              <i class="course-link-icon fa fa-link"></i>
            </a>
            <a class="course-title" href="#"
            >All You Need To Know About Web Design</a
            >
            <div class="course-details">
              <span class="course-category">Web Design</span>
              <span class="course-price course-free">Free</span>
            </div>
          </div>
        </div>
        <!-- /single course -->

        <!-- single course -->
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="course">
            <a href="#" class="course-img">
              <%= image_tag 'course07' %>
              <i class="course-link-icon fa fa-link"></i>
            </a>
            <a class="course-title" href="#"
            >How to Get Started in Photography</a
            >
            <div class="course-details">
              <span class="course-category">Photography</span>
              <span class="course-price course-free">Free</span>
            </div>
          </div>
        </div>
        <!-- /single course -->

        <!-- single course -->
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="course">
            <a href="#" class="course-img">
              <%= image_tag 'course08' %>
              <i class="course-link-icon fa fa-link"></i>
            </a>
            <a class="course-title" href="#">Typography From A to Z</a>
            <div class="course-details">
              <span class="course-category">Typography</span>
              <span class="course-price course-free">Free</span>
            </div>
          </div>
        </div>
        <!-- /single course -->
      </div>
      <!-- /row -->
    </div>
    <!-- /courses -->

    <div class="row">
      <div class="center-btn">
        <a class="main-button icon-button" href="#">More Courses</a>
      </div>
    </div>
  </div>
  <!-- container -->
</div>
<!-- /Courses -->

<!-- Call To Action -->
<div id="cta" class="section">
  <!-- Backgound Image -->
  <div
  class="bg-image bg-parallax overlay"
  style="background-image: url(<%= asset_path('cta1-background.jpg') %>)"
  ></div>

  <!-- /Backgound Image -->

  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-6">
        <h2 class="white-text">
          The others would not have been mine, as the Epicurean is wont to do.
        </h2>
        <p class="lead white-text">
          The others would not have been mine, as the Epicurean is wont to do. And these are their names.
        </p>
        <a class="main-button icon-button" href="#">Get Started!</a>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /Call To Action -->

<!-- Why us -->
<div id="why-us" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="section-header text-center">
        <h2>Why Edusite</h2>
        <p class="lead">
          By living in books, eloquence comes from the right, and they do not abhor it brilliantly.
        </p>
      </div>

      <!-- feature -->
      <div class="col-md-4">
        <div class="feature">
          <i class="feature-icon fa fa-flask"></i>
          <div class="feature-content">
            <h4>Online Courses</h4>
            <p>
              The others would not have been mine, as the Epicurean is wont to do. And these are their names.
            </p>
          </div>
        </div>
      </div>
      <!-- /feature -->

      <!-- feature -->
      <div class="col-md-4">
        <div class="feature">
          <i class="feature-icon fa fa-users"></i>
          <div class="feature-content">
            <h4>Expert Teachers</h4>
            <p>
              The others would not have been mine, as the Epicurean is wont to do. And these are their names.
            </p>
          </div>
        </div>
      </div>
      <!-- /feature -->

      <!-- feature -->
      <div class="col-md-4">
        <div class="feature">
          <i class="feature-icon fa fa-comments"></i>
          <div class="feature-content">
            <h4>Community</h4>
            <p>
              The others would not have been mine, as the Epicurean is wont to do. And these are their names.
            </p>
          </div>
        </div>
      </div>
      <!-- /feature -->
    </div>
    <!-- /row -->

    <hr class="section-hr" />

    <!-- row -->
    <div class="row">
      <div class="col-md-6">
        <h3>Persius will not be incorruptible, and who, in a gift, nowhere and neither.</h3>
        <p class="lead">
          By living in books, eloquence comes from the right, and they do not abhor it brilliantly.
        </p>
        <p>
         Not even with the humor of the decision, as if the pains were not there, as if he attended to the necessities. You are fine and delicate every day. Eu doming epicurean duo. It may be that Theophrastus abandoned them when he was finished. But if he had left the office for bad things, let it be I made it easy for him.
        </p>
      </div>

      <div class="col-md-5 col-md-offset-1">
        <a class="about-video" href="#">
          <%= image_tag 'about-video' %>
          
          <i class="play-icon fa fa-play"></i>
        </a>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /Why us -->

<!-- Contact CTA -->
<div id="contact-cta" class="section">
  <!-- Backgound Image -->

  <div
  class="bg-image bg-parallax overlay"
  style="background-image: url(<%= asset_path('cta2-background.jpg') %>)"
  ></div>

  <!-- Backgound Image -->

  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="white-text">Contact Us</h2>
        <p class="lead white-text">
          By living in books, eloquence comes from the right, and they do not abhor it brilliantly.
        </p>
        <%= link_to 'Contact Us Now', contact_index_path, class: 'main-button icon-button' %>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /Contact CTA -->

<!-- Footer -->
<footer id="footer" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- footer logo -->
      <div class="col-md-6">
        <div class="footer-logo">
          <a class="logo" href="/">
            <%= image_tag 'logo' %>
          </a>
        </div>
      </div>
      <!-- footer logo -->

      <!-- footer nav -->
      <div class="col-md-6">
        <ul class="footer-nav">
          <li><a href="/">Home</a></li>
          <li>
          <%= link_to about_path do %>
          About
          <% end %>
        </li>
          <li>
          <%= link_to syllabuses_path do %>
            Courses
          <% end %>
        </li>
        <li>
          <%= link_to blogs_path do %>
            Blog
          <% end %>
        </li>
        <li>
          <%= link_to contact_index_path do %>
            Contact
          <% end %>
        </li>
        </ul>
      </div>
      <!-- /footer nav -->
    </div>
    <!-- /row -->

    <!-- row -->
    <div id="bottom-footer" class="row">
      <!-- social -->
      <div class="col-md-4 col-md-push-8">
        <ul class="footer-social">
          <li>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#" class="google-plus"
            ><i class="fa fa-google-plus"></i
            ></a>
          </li>
          <li>
            <a href="#" class="instagram"
            ><i class="fa fa-instagram"></i
            ></a>
          </li>
          <li>
            <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
          </li>
          <li>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
      <!-- /social -->

      <!-- copyright -->
      <div class="col-md-8 col-md-pull-4">
        <div class="footer-copyright">
          <span
          >&copy; Copyright 2023. All Rights Reserved. | This template is
          made with <i class="fa fa-heart-o" aria-hidden="true"></i> by
          <a href="https://colorlib.com">Colorlib</a></span
          >
        </div>
      </div>
      <!-- /copyright -->
    </div>
    <!-- row -->
  </div>
  <!-- /container -->
</footer>
<!-- /Footer -->

<!-- preloader -->
<!-- <div id="preloader"><div class="preloader"></div></div> -->
    <!-- /preloader -->