<!-- Hero-area -->
<div class="hero-area section">

	<!-- Backgound Image -->
	<div class="bg-image bg-parallax overlay" style="background-image:url(<%= asset_path('page-background.jpg') %>)"></div>
	
	<!-- /Backgound Image -->

	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center">
				<ul class="hero-area-tree">
					<li><a href="/">Home</a></li>
					<li>Contact</li>
				</ul>
				<h1 class="white-text">Get In Touch</h1>

			</div>
		</div>
	</div>

</div>
<!-- /Hero-area -->

<!-- Contact -->
<div id="contact" class="section">

	<!-- container -->
	<div class="container">

		<!-- row -->
		<div class="row">

			<!-- contact form -->
			<div class="col-md-6">
				<div class="contact-form">
					<h4>Send A Message</h4>
					<form>
						<input class="input" type="text" name="name" placeholder="Name">
						<input class="input" type="email" name="email" placeholder="Email">
						<input class="input" type="text" name="subject" placeholder="Subject">
						<textarea class="input" name="message" placeholder="Enter your Message"></textarea>
						<button class="main-button icon-button pull-right">Send Message</button>
					</form>
				</div>
			</div>
			<!-- /contact form -->

			<!-- contact information -->
			<div class="col-md-5 col-md-offset-1">
				<h4>Contact Information</h4>
				<ul class="contact-details">
					<li><i class="fa fa-envelope"></i>Educate@email.com</li>
					<li><i class="fa fa-phone"></i>122-547-223-45</li>
					<li><i class="fa fa-map-marker"></i>4476 Clement Street</li>
				</ul>

				<!-- contact map -->
				<div id="contact-map"></div>
				<!-- /contact map -->

			</div>
			<!-- contact information -->

		</div>
		<!-- /row -->

	</div>
	<!-- /container -->

</div>
<!-- /Contact -->

<!-- Footer -->
<footer id="footer" class="section">

	<!-- container -->
	<div class="container">

		<!-- row -->
		<div class="row">

			<!-- footer logo -->
			<div class="col-md-6">
				<div class="footer-logo">
					<a class="logo" href="/">
						<%= image_tag 'logo' %>
					</a>
				</div>
			</div>
			<!-- footer logo -->

			<!-- footer nav -->
			<div class="col-md-6">
				<ul class="footer-nav">
					<li><a href="/">Home</a></li>
					<li><a href="#">About</a></li>
					<li>
          <%= link_to syllabuses_path do %>
            Courses	
          <% end %>
        </li>
        <li>
          <%= link_to blogs_path do %>
            Blog
          <% end %>
        </li>
        <li>
          <%= link_to contact_index_path do %>
            Contact
          <% end %>
        </li>
				</ul>
			</div>
			<!-- /footer nav -->

		</div>
		<!-- /row -->

		<!-- row -->
		<div id="bottom-footer" class="row">

			<!-- social -->
			<div class="col-md-4 col-md-push-8">
				<ul class="footer-social">
					<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
					<li><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
					<li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
				</ul>
			</div>
			<!-- /social -->

			<!-- copyright -->
			<div class="col-md-8 col-md-pull-4">
				<div class="footer-copyright">
					<span>&copy; Copyright 2018. All Rights Reserved. | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com">Colorlib</a></span>
				</div>
			</div>
			<!-- /copyright -->

		</div>
		<!-- row -->

	</div>
	<!-- /container -->

</footer>
<!-- /Footer -->
